* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    /* scroll-behavior: smooth; */
    /* hành vi cuộn */
    font-family: Helvetica,  Arial, sans-serif;
}
.text-uppercase {
    text-transform: uppercase!important;
}
.position-relative{
    position: relative;
}
.position-absolute {
    position: absolute;
}
.justify-content-center{
    justify-content: center;
}
.text-white {
    color: #fff;
}
.main{
    margin-top: 65px;
    padding: 40px 0 55px;
    background-color: #ccc;
    overflow: hidden;
}
.background-heading {
    font-size: 100px;
}
.heading-about {
    text-shadow: 2px 2px 2px #fff;
}
.container-about {
    /* flex-wrap: wrap; */
    justify-content: space-around;
    margin: 50px 85px 0;

}

.img-about .img-fluid {
    height: 400px;
    border-radius: 50%;
}
.infor > h2 {
    text-align: center;
}
.infor .infor-1 {
    margin-top: 30px;
    justify-content: space-between;
}
.infor-1 .intro {
    padding-right: 20px;
}
.infor-1 .contact-infor > a, 
.infor-1 .intro > a {
    text-decoration: none;
    color: #000;
    padding: 20px;
    font-weight: bolder;
}
.infor-1 .contact-infor > a:hover, 
.infor-1 .intro > a:hover {
    cursor: auto;
}




